/* this is for the skeleton of the website. Includes size of side bar, graphs, and extra space for now. */
.flex-header {
    display: flex;
    align-items: stretch;
    background: red;
    height: 50px;
    margin-bottom: 3%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    column-gap: 3%;
}

.flex-sidebar-left {
    display: flex;
    background: yellow;
    width: 20%;
}

.flex-body {
    float: left;
    padding: 3%;
    width: 80%;
}

#resources {
    background: green;
    display: flex;
    flex-wrap: wrap;
}


#energy-summary {
    background-color: green;
}

#micro-calcs {
    background-color: green;
}



